/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Pale blue: hsl(225, 100%, 94%)
- Bright blue: hsl(245, 75%, 52%)

### Neutral

- Very pale blue: hsl(225, 100%, 98%)
- Desaturated blue: hsl(224, 23%, 55%)
- Dark blue: hsl(223, 47%, 23%)

## Typography

### Body Copy

- Font size (paragraph): 16px

### Font

- Family: [Red Hat Display](https://fonts.google.com/specimen/Red+Hat+Display)
- Weights: 500, 700, 900
 */

 body {
     font-family: "Red Hat Display";
     font-size: 16px;
     line-height: 1.6;
     margin: 0;
     padding: 0;
     --pale-blu: hsl(225, 100%, 94%);
     --br-blu: hsl(245, 75%, 52%);
     --vpl-blu: hsl(225, 100%, 98%);
    --dst-blu: hsl(224, 23%, 55%);
    --drk-blu: hsl(223, 47%, 23%);
    box-sizing: border-box;
 }

 .main-cont {
     background: var(--pale-blu);
     background-size:contain;
     background-repeat: no-repeat;
     width: 100vw;
     height: 100vh;
     position: relative;
     top: 0;
     z-index: 1;
     display: flex;
     justify-content: center;
     align-items: center;
 }

.img-bck {
     position: fixed;
     top:0;
     width: 100%;
     height: auto;
     z-index: -1;
 }

.mobile-img-bck {
    
        position: fixed;
        top:0;
        width: 100%;
        height: auto;
        z-index: -1;
        visibility: hidden;
    }


 p {
     color: var(--dst-blu);
 }

 .order-card {
     background: white;
     border-radius: 20px;
     display: flex;
     flex-direction: column;
     text-align: center;
     overflow: hidden;
     box-shadow: 0 20px 25px 5px hsl(245deg 75% 90%);
     align-items: center;
     
 }

 .card-body {
padding: 1.5rem 2.5rem;
width: 350px;
 }

.card-hero {
    width: 100%;
    height: 220px;
    background: url(/images/illustration-hero.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    /*margin-bottom: 32px;*/
    
}

h2 {
    font-weight:900;
}

h3 {
    font-weight: 700;
}


 .card-info {

display: flex;
background: var(--vpl-blu);
border-radius: 10px;
align-items: center;
line-height: .5;
padding: .75rem 1.25rem;
justify-content: space-between;
margin-bottom: 32px;

 }

 .card-title {
     font-size: 32px;
     margin: 0;
 }
 
 .plan-title {
     flex: 1 1 100%;
     margin-left: 20px;
     text-align: left;
     
 }

 .plan-price {
    font-size: 14px;
 }

 .plan-change-link {

     font-size: 14px;
     font-weight: bold;
 }

 .plan-change-link:hover {
    color: hsl(245deg 75% 69%);
    text-decoration: none;
 }

 a {
    display: block;
}

.card-links {
    
}

.confirm-btn {

    background: var(--br-blu);
    border-radius: 10px;
    color: white;
    display: block;
    padding: 1rem;
    width: 100%;
    box-shadow: 0 20px 25px 5px hsl(245deg 75% 90%);
    
}

button {
    cursor: pointer;
}

.cancel-btn, .confirm-btn {
    border: none;
    font-weight: 900;
    font-size: 15px;
    margin-bottom: 32px;
    
    
}

.cancel-btn {
    background: none;
    color: var(--dst-blu);
}

.confirm-btn:hover {

    background: hsl(245deg 75% 69%);

}

.cancel-btn:hover {

color: black;

}

@media (max-width: 375px) {

    .mobile-img-bck {
        visibility: visible;
    }

    .img-bck {
        visibility: hidden;
    }


    .order-card{
        width: 90%;
        height: auto;
        font-size: .9rem;
     }
 
     .card-hero {
         width: 100%;
         height: 175px;
     }
 
     .card-body {
         width: 100%;
         padding: 1.75rem;
         box-sizing: border-box;
     }
 
     .card-title {
         font-size: 24px;
     }

    .card-info {
        padding: 1rem;
    }
 
    .plan-title {
    font-size: 14px; 
    }

    .plan-change-link {
        font-size: 12px;
    }

    .confirm-btn, .card-info  {
       margin-bottom: 24px;
       
   }

   .cancel-btn {
       margin-bottom: 0;
   }


}
